.contact-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
#error{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}
